.page-container {

    display: flex; 
    flex-flow: column wrap;
    border: 1px solid red;
}

.page-center{
    flex: 3 auto;
    border: 1px solid red;

}



.horizontal-container {

    display: flex; 
    flex-flow: row wrap;
    
    border: 1px solid blue;

    
}
.horizontal-center{
    flex: 3;
    border: 1px solid blue;
}


header {
    background-color: lightcoral
}

footer {
    background-color: lightblue
}


.folder-list {
    background-color: yellow;
    
}
.message-list {
    background-color: white;
    
}